<div id="home">
	<div class="menu">
		<p>SUMITRACTOR</p>
		<a href="#" ui-sref=".repairs" class="{{subStateIs('repairs') && 'active' || ' '}}">
			<i class="fa fa-wrench"></i> Reparaciones
		</a>
		<a href="#" ui-sref=".mechanics" class="{{subStateIs('mechanics') && 'active' || ' '}}">
			<i class="fa fa-user"></i> Mechanicos
		</a>
		<a href="#" ui-sref=".settings" class="{{subStateIs('settings') && 'active' || ' '}}">
			<i class="fa fa-cogs"></i> Ajustes
		</a>
		<div ng-click="logout()" class="logout">
			<i class="fa fa-power-off"></i> Salir
		</div>
	</div>
	<div class="body" ui-view>
	</div>
</div>